@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #090909;
}

header {
    text-wrap: nowrap;
}

#foto {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 50px 10px;
    border-radius: 50%;
}

.bg-black {
    background-color: black;
}

#imagen_proyecto{
    height: 182px;
    width: 100%;
}

.card-project{
    transition: 1s;
    text-wrap: balance;
}

.card-project:hover{
    border: 1px solid #fff;
    cursor: pointer;
    transition: 1000ms;
}

.lang-icon {
    transition: opacity 1000ms;
}

.lang-icon:hover {
    opacity: 0.3;
    cursor: pointer;
}

.texto1{
    transition: 500ms;
}

.texto1:hover{
    opacity: 0.3;
    transition: 1000ms;
}

.header-hover{
    border: 1px solid black;
    border-radius: 5px;
    transition: 1s;
}

.header-hover:hover{
    border-color: rgb(87, 84, 84);
    transition: 1s;
}

form.form-control.bg-black {
    border: none;
}

@media (min-width: 300px) and (max-width: 950px) {

    * {
        text-wrap: balance;
    }

    #navbarNav .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #navbarNav .nav-item {
        margin-right: 4px;
    }

    .row.bg-black {
        flex-direction: column;
        align-items: center;
    }

    .col.md-4 {
        width: 90%;
        margin-bottom: 5px;
    }

    .col.md-8 {
        width: 100%;
        text-align: center;
    }

    .card.row{
        display: flex;
        flex-direction: column;
    }

    .card .col-md-3 {
        order: 1;
    }

    .card .col-md-9 {
        order: 2;
        margin-top: 10px;
    }
}

@media (max-width: 375px) {
    .navbar-toggler:not(.collapsed) + .navbar-collapse {
        flex-basis: 100%;
        flex-direction: column;
        height: auto;
        max-height: 50vh;
        overflow-y: auto;
    }

    #navbarNav {
        width: 100%;
    }

    #navbarNav .navbar-nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
