{% extends "layout.html" %}

{% block content %}
{% load static %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
</svg>

<h4 class="text-white text-center mx-2">Envíame un correo para estar en contacto! 👇</h3>

{% if messages %}

    {% for message in messages %}
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            {{message}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

{% endif %}

<form method="post" action="{% url 'contacto' %}" class="form-control bg-black">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label text-white">Nombre</label>
        <input type="text" name="name" class="form-control" placeholder="Nombre" required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label text-white">Correo</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
    </div>
    <div class="mb-3">
        <label for="subject" class="form-label text-white">Asunto</label>
        <input type="text" name="subject" class="form-control" placeholder="Asunto" required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label text-white">Mensaje</label>
        <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3" placeholder="Mensaje" required></textarea>
    </div>
    <button type="submit" class="btn btn-success form-control mb-2">Enviar correo</button>
</form>

{% endblock %}